/* Estilos para la galería de fotos */
.galleryContainer {
  width: 100%;
  max-width: 900px;
  margin: 4rem auto;
  padding: 0 2rem;
  overflow: hidden;
}

.galleryRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.galleryItem {
  width: 100%;
  padding-bottom: 100%; /* Truco para mantener una relación de aspecto de 1:1 (cuadrado) */
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.galleryImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}