.invitationContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 1440px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

/* Lado de las imágenes (izquierda) */
.contentImages {
    flex: 1.5;
    min-width: 450px;
    background-color: var(--background-white);
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.instagramTitle a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del h2 padre */
}
.instagramTitle {
   font-family: 'Inter', sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 500;
    color: var(--text-primary-dark);
    margin-bottom: 30px;
    text-align: left;
}

.instagramGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    margin: 0 auto;
}

.gridImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gridImage:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* Lado del texto (derecha) */
.contentText {
    flex: 1;
    min-width: 400px;
    background-color: var(--background-white);
    color: var(--text-on-white);
    padding: 90px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.followUsTitle {
    font-family: 'Playfair Display', serif;
    font-size: clamp(2rem, 3.5vw, 2.8rem);
    font-weight: 700;
    margin-bottom: 0;
    color: black;
}

.socialIcons {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    margin-top: 20px;
}

.socialIcon {
    font-size: 2.5rem;
    color: var(--text-primary-dark);
    transition: transform 0.2s ease, color 0.2s ease;
}

.socialIcon:hover {
    transform: translateY(-3px) scale(1.05);
    color: var(--accent-color);
}

.separatorLineSolid {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1px 0;
}

.newsletterSubtitle {
  font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: black;
}

/* Responsive */
@media (max-width: 992px) {
    .invitationContainer {
        flex-direction: column;
        padding: 0;
        border-radius: 0;
    }

    .contentImages,
    .contentText {
        min-width: unset;
        width: 100%;
        padding: 40px 20px;
        text-align: center;
    }

    .instagramTitle,
    .followUsTitle {
        text-align: center;
    }

    .socialIcons {
        justify-content: center;
    }

    .instagramGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .gridImage {
        height: 150px;
    }
}
