.container {
  text-align: center;
  max-width: 1200px; /* Un ancho máximo más grande para un mejor diseño */
  margin: 0 auto; /* Centra el componente horizontalmente */
  padding: 0 20px; /* Agrega un padding para que no se pegue a los bordes */
}

.title {
  font-size: 2.5rem; /* Un tamaño de fuente más grande */
  font-family: 'Playfair Display', serif; /* Mantén la coherencia con otros componentes */
  margin-bottom: 3rem;
  color: #333;
}

.stepsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* Más espacio entre los elementos */
}

.step {
  width: 250px;
  text-align: center;
  padding: 20px;
}

.stepIcon { /* Nueva clase para el icono */
  width: 60px; /* Icono un poco más grande */
  height: 60px;
  border-radius: 50%;
  background-color: #A08C63; /* Usa tu color de marca, por ejemplo, el acento del otro componente */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; /* Tamaño del icono dentro del círculo */
  margin: 0 auto 1.5rem; /* Más espacio debajo del icono */
}

.stepTitle {
  font-size: 1.4rem; /* Un poco más grande para destacar */
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2b2b2b; /* Usa el color de títulos de tu marca */
}

.stepDescription {
  font-size: 1rem; /* Un poco más grande para una mejor lectura */
  color: #5C5C5C;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .stepsGrid {
    flex-direction: column;
    align-items: center;
  }
}