/* --- Estilos del header --- */
.header {
  position: relative;
  width: 100%;
}

.imageSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center ;  /* Cambiado para que todo el contenido se alinee a la izquierda */
}

.imageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.711)); /* Mantener el overlay oscuro */
  z-index: 2;
}

/* Contenedor para el logo y subtítulo a la izquierda */
.leftContent {
  position: absolute;
  top: 46%;
  left: 32%; /* Cambiado para centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrado perfecto horizontal y vertical */
  z-index: 4;
  color: white;
  text-align: center; /* Centra el texto dentro de la caja */
}
/* --- Logo en la esquina inferior derecha --- */
.bottomRightLogo {
  position: absolute;
  bottom: 20px; /* Ajusta la distancia desde el borde inferior */
  right: 20px; /* Ajusta la distancia desde el borde derecho */
  width: 150px; /* Define el tamaño del logo */
  height: auto;
  z-index: 5; /* Asegura que esté por encima de otros elementos */
}
.mainLogo {
  height: 120px; /* Ajusta el tamaño del logo */
  object-fit: contain;
}

.subTitle {
  margin-top: 10px; /* Espacio entre el logo y el subtítulo */
  font-size: 1.2rem; /* Ajusta el tamaño del texto */
  font-weight: 300;
  color: white;
}

.navContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}

.mainText {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.whiteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 3; /* por encima de la imagen y por debajo del texto */
  pointer-events: none;
}
.mainTitle {
    font-family: 'Playfair Display', serif;
    font-size: 4.5em; /* Tamaño más grande para el título principal */
    color: var(--primary-dark);
    margin-bottom: 10px;
    line-height: 1.1;
    text-align: center;
    white-space: nowrap; /* Evita que el título se rompa en varias líneas */
}


.subTitle {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    font-weight: 500;
    color: white;
    margin-bottom: 5%;
    text-align: center;
}
