.section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 4rem 2rem;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.whiteOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    pointer-events: none;
    border-radius: 4px;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
    position: relative;
    transition: transform 0.3s ease;
}

.row {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.reverse {
    flex-direction: row-reverse;
}

.imageWrapper {
    flex: 1;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 0px;
    object-fit: cover;
}

.textWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Alinha o conteúdo ao topo */
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #2b2b2b;
    margin-bottom: 0.5rem;
}

.subTitle {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2rem;
    color: #5a5a5a;
}

.text {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    max-width: 90%;
}